<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.24.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/_Header :: header"></div>

<!-- Form Login -->
<div class="bg-white flex">
    <div class="flex-col flex ml-auto mr-auto items-center lg:w-2/3 md:w-3/5">
        <h1 class="font-bold text-2xl my-4 text-white"> Login </h1>
        <form id="login-form" th:action="@{/auth/reset-password}" method="post" th:object="${resetPassword}" class="mt-2 flex flex-col lg:w-1/2 w-8/12">

            <div>
                <h1 class="text-3xl justify-left border-b-2 pb-6 flex flex-wrap items-stretch w-full mb-4 relative h-15 bg-white items-center rounded mb-6 pr-10">Reset Password !</h1>
            </div>

            <div
                    class="flex flex-wrap items-stretch w-full mb-4 relative h-15 bg-white items-center rounded mb-6 pr-10 border border-b-2">
                <div class="flex -mr-px justify-center w-15 p-4">
                        <span
                                class="flex items-center leading-normal bg-white px-3 border-0 rounded rounded-r-none text-2xl text-gray-600">
                                <img width="30px" style="margin-bottom:3px; margin-right:0px" alt="Google sign-in"
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />

                        </span>
                </div>
                <div class="flex -mr-px justify-center w-15 pt-4 pb-4 text-2xl font-semibold" th:href="@{http://localhost:8080/oauth2/authorization/google}">Continue with Google</div>
            </div>

            <div class="input-group flex flex-wrap items-stretch w-full mb-4 relative h-15 bg-white items-center rounded mb-6 pr-10 border  border-b-2">
                <div class="flex -mr-px justify-center w-15 p-4">
                        <span
                                class="flex items-center leading-normal bg-white px-3 border-0 rounded rounded-r-none text-2xl text-gray-600">
                            <i class="fas fa-lock"></i>
                        </span>
                </div>
                <input type="password" th:field="*{password}" name="password"
                       class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border-0 h-10 border-grey-light rounded rounded-l-none px-3 self-center relative  font-roboto text-xl outline-none"
                       placeholder="Password" rules="required|minlength:6|maxlength:50" />
                <input hidden th:value="${token}" name="token">
            </div>

            <div
                    class="flex flex-wrap items-stretch w-full mb-4 relative h-15 bg-white items-center rounded mb-6 pr-10 border  border-b-2 input-group">
                <div class="flex -mr-px justify-center w-15 p-4">
                        <span
                                class="flex items-center leading-normal bg-white px-3 border-0 rounded rounded-r-none text-2xl text-gray-600">
                            <i class="fas fa-lock"></i>
                        </span>
                </div>
                <input type="password" th:field="*{rePassword}" name="rePassword" rules="required|minlength:6|maxlength:50|equalTo:'password'"
                       class="flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border-0 h-10 border-grey-light rounded rounded-l-none px-3 self-center relative  font-roboto text-xl outline-none"
                       placeholder="Re-Password" />
            </div>

            <button type="submit"
               class="bg-blue-400 py-4 text-center text-xl px-17 md:px-12 md:py-4 text-white rounded leading-tight font-sans mt-4 mb-5
                    hover:bg-blue-700 focus:outline-none duration-100 ease-in-out">
                Reset
            </button>

            <div class="flex -mr-px justify-center w-15 text-2xl" >Don't have an account ? <a th:href="@{/auth/signup}" class="pl-2" style="text-decoration: underline; color: rgb(21, 167, 224); cursor: pointer;">Sign up</a></div>
        </form>
    </div>
</div>

<!-- Footer -->
<div th:replace="fragments/_FooterFix"></div>

<script th:src="@{/resources/js/validator.js}"></script>

<script>
    const formValidator = new FormValidator("#login-form", {
        formGroup: "input-group",
        errorMessages: {
            "password" : {
                required: "Password must not be blank",
                minlength: "Password must be at least 6 characters long",
                maxlength: "Password must be at most 50 characters long",
            },
            "rePassword": {
                required: "Re-Password must not be blank",
                minlength: "Re-Password must be at least 6 characters long",
                maxlength: "Re-Password must be at most 50 characters long",
                equalTo: "Re-Password must be like Password",
            },

        },
    });
</script>
</body>
</html>
