<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.24.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

    <style>
        .menu li>:where(a:active),
        .menu li>:where(button:active) {
            background-color: #d9f3fe;
            color: black;
        }
    </style>
</head>

<body>
<div th:replace="fragments/_Header :: header"></div>

<main class="w-10/12 mx-auto">

    <!-- START CARD -->
    <div class="card text-center shadow-2xl my-10">
        <div class="card-body">

            <!-- START MENU -->
            <div class="rounded-lg shadow bg-base-200 drawer drawer-mobile h-full">
                <input id="my-drawer-2" type="checkbox" class="drawer-toggle">
                <div class="drawer-content">
                    <!-- START ALERT -->
                    <div class="alert alert-info w-full rounded-none md:flex-col justify-center">
                        <label for="my-drawer-2" class=" btn btn-sm btn-primary drawer-button lg:hidden w-3/12">open menu</label>
                        <label class="font-semibold text-2xl">Account</label>
                    </div>
                    <!-- END ALERT -->

                    <form id="profile-form" th:action="@{/auth/profile/update/account}" method="post">
                        <div class="border-b-2 py-4 border-gray-200">
                            <div class="w-8/12 mx-auto text-left">
                                <p class="font-bold">Email:</p>

                                <div class="text-green-700" th:utext="${successMessage}"></div>
                                <div class="text-red-700" th:utext="${errorMessage}"></div>

                                <input type="hidden" name="username" th:value="${session.account.user.username}">
                                <input type="hidden" name="textFullName" th:value="${session.account.user.fullName}">

                                <div class="form-control input-group">
                                    <input type="email" th:value="${session.account.user.email}" name="email" class="w-full mt-2 mb-3 input input-bordered" rules="required|minlength:2|maxlength:100|email">
                                </div>
                            </div>
                        </div>
                        <div class="py-2 flex justify-center">
                            <button class="btn bg-blue-400 border-0 text-white" type="submit">Save</button>
                        </div>
                    </form>

                </div>

                <div th:replace="fragments/_UserProfileMenu"></div>

            </div>
            <!-- END MENU -->

        </div>
    </div>

    <!-- END CARD -->

</main>

<div th:replace="fragments/_FooterFix"></div>

<script th:src="@{/resources/js/validator.js}"></script>

<script>
    const formValidator = new FormValidator("#profile-form", {
        formGroup: "input-group",
        errorMessages: {
            "email": {
                required: "Email must not be blank",
                minlength: "Email must be at least 2 characters long",
                maxlength: "Email must be at most 100 characters long",
                email: "Please input your correct email address"
            }
        },
    });
</script>
</body>

</html>
