<th:block th:if="${successMessage != null || errorMessage != null}">
    <div id="js-alert" class="alert shadow-lg alert-success" th:if="${successMessage != null}">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span>[[${successMessage}]]</span>
        </div>
        <div class="flex-none">
            <button class="btn btn-circle btn-outline" onclick="removeAlert()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
            </button>
        </div>
    </div>

    <div id="js-alert" class="alert shadow-lg alert-error" th:if="${errorMessage != null}">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span>[[${errorMessage}]]</span>
        </div>
        <div class="flex-none">
            <button class="btn btn-circle btn-outline" onclick="removeAlert()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
            </button>
        </div>
    </div>

    <script>
        const myInterval = setInterval(function() {
            removeAlert()
        }, 5000);

        function removeAlert(){
            let alertEl = document.getElementById("js-alert");
            if(alertEl) alertEl.remove();
            if(myInterval) clearInterval(myInterval);
        }
    </script>
</th:block>