<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz form</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.20.1/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/28a05ca2b4.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>

    <!-- Form Navbar -->
    <div th:replace="fragments/_Header :: header"></div>

    <div class="lg:hidden">
        <nav id="menu" class="flex flex-col items-center justify-center w-full lg:hidden hidden top-12 fixed z-50"
            style="background-image: linear-gradient(360deg, rgb(0, 0, 0) 1%, transparent 100%); background-color: rgb(0, 0, 0); opacity: 0.8;">
            <ul>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                    <div class="avatar">
                        <div class="w-16 h-10 rounded">
                            <a th:href="@{/}">
                                <img src="https://cdn3.vectorstock.com/i/thumb-large/59/77/quiz-logo-icon-symbol-flat-cartoon-color-vector-27965977.jpg"
                                    alt="Tailwind-CSS-Avatar-component">
                            </a>
                        </div>
                    </div>
                </li>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold">
                    <div class="dropdown dropdown-end w-full px-2">
                        <div tabindex="0" id="clickdrop" class="w-full text-white hover:text-blue-600">Categories</div>
                        <ul id="dropdown" tabindex="0"
                            class="p-2 mt-5 hidden w-full flex justify-center items-center text-white shadow menu dropdown-end rounded-box">
                            <li th:each="category : ${session.categoriesSession}"
                                class="w-full flex justify-center hover:text-blue-600">
                                <a th:href="@{/quiz(category=${category.name})}" th:text="${category.name}"
                                    class="w-full flex justify-center items-center">Item 1</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                    <a href="">Become an instructor</a>
                </li>
                <th:block th:if="${session.account == null}">
                    <li
                        class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                        <a th:href="@{/auth/login}">Login</a>
                    </li>
                    <li
                        class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                        <a href="">Sign in</a>
                    </li>
                </th:block>
    
                <th:block th:if="${session.account != null}">
                    <li
                        class=" z-50 flex flex-col items-center justify-center text-gray-700 text-center py-3 rounded-md text-lg cursor-pointer font-bold">
                        <div class="dropdown dropdown-end w-full">
                            <div tabindex="0" id="user" class="w-full text-white hover:text-blue-600">
                                <img th:if="${session.account.user.image != null and !session.account.user.image.equals('')}"
                                    th:src="${session.account.user.image}" class="w-7 mr-4 h-7 rounded"
                                    alt="Tailwind-CSS-Avatar-component">
                                <img th:if="${session.account.user.image == null or session.account.user.image.equals('')}"
                                    src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-27.jpg"
                                    class="w-7 mr-4 h-7 rounded" alt="Tailwind-CSS-Avatar-component">
                                [[${session.account.user.fullName}]]
                            </div>
                            <ul id="profile" tabindex="0"
                                class="p-2 mt-5 hidden w-full text-white flex justify-center items-center shadow menu dropdown-end rounded-box">
                                <li class="w-full flex justify-center" th:if="${session.account.user.roleName != null}">
                                    <a th:href="@{/admin}"
                                        class="w-full flex justify-center items-center hover:text-blue-600">[[${session.account.user.roleName}]]</a>
                                </li>
                                <li class="w-full flex justify-center ">
                                    <a th:href="@{/auth/profile}"
                                        class="w-full flex justify-center items-center hover:text-blue-600">Profile</a>
                                </li>
                                <li class="w-full flex justify-center">
                                    <a th:href="@{/auth/logout}"
                                        class="w-full flex justify-center items-center hover:text-blue-600">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </th:block>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                    <a href=""><i style="font-size:25px;" class="fas fa-globe"></i></a>
                </li>
    
            </ul>
        </nav>
    </div>

    <div class=" shadow bg-base-200 drawer drawer-mobile " style="height: 87vh;">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle">

        <div class="flex flex-col items-center drawer-content">
            <label for="my-drawer-2"
                class="mb-4 btn btn-primary drawer-button lg:hidden w-10 rounded-full right-5 top-16 md:top-28 fixed"><i
                    class="fas fa-angle-right"></i></label>
            <!-- STRART MAIN -->
            <main class="my-4 w-11/12 mt-10 mx-auto">
                <!-- START Welcome text-->
                <p th:if="${quizInfo != null}" class="text-2xl font-semibold text-center mb-4 uppercase ">Edit Candidate ID</p>
                <!-- END welcome text -->
                <!-- START TABLE -->
                <div class="card text-center shadow-lg my-4 py-5 px-16">
                    <!-- START FORM -->
                    <form id="quiz-form" action="#"
                        enctype="multipart/form-data" th:object="${candidate}">

                        <div class="flex justify-start">
                            <div class="form-control mt-2">
                                <div class="preview">
                                    <img th:if="${candidate.photo == null}" id="preview-image" class="mx-auto bg-gray-200 rounded-btn w-52 h-52 bg-cover bg-center" src="https://mntech.com.vn/common/images/noimg64.png">
                                    <img th:unless="${candidate.photo == null}" id="preview-image" class="mx-auto bg-gray-200 rounded-btn w-52 h-52 bg-cover bg-center" th:src="${candidate.photo}">
                                </div>


                            </div>

                            <div>
                                <span type="hidden" th:text="${candidateId}"> </span>
                            </div>

                            <div class="w-full ml-4">
                                <div class="form-control input-group">
                                    <div class="flex">
                                        <div class="w-1/2 flex flex-col">
                                            <label class="label">
                                                <span class="label-text">Full Name:</span>
                                            </label>
                                            <span type="text" th:text="${candidate.candidateName}" class="input input-bordered"
                                                  rules="required|minlength:10|maxlength:255"> </span>
                                        </div>
                                        <div class="w-1/2 ml-5 flex flex-col">
                                            <label class="label">
                                                <span class="label-text">Phone:</span>
                                            </label>
                                            <span type="text" th:text="${candidate.phone}" class="input input-bordered"
                                                  rules="required|minlength:10|maxlength:255"> </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-control input-group">
                                    <div class="flex">
                                    <div class="w-1/2 flex flex-col">
                                        <label class="label">
                                            <span class="label-text">Card ID:</span>
                                        </label>
                                        <span type="text" class="input input-bordered" th:text="${candidate.cardId}"> </span>
                                    </div>
                                    <div class="w-1/2 ml-5 flex flex-col">
                                        <label class="label">
                                            <span class="label-text">Email:</span>
                                        </label>
                                        <span type="text" th:text="${candidate.email}" class="input input-bordered"
                                              rules="required|minlength:10|maxlength:255"> </span>
                                    </div>
                                    </div>
                                </div>

                                <div class="form-control input-group">
                                    <label class="label">
                                        <span class="label-text">Experiences:</span>
                                    </label>
                                    <span th:text="${candidate.experience}" class="textarea h-20 textarea-bordered"
                                        rules="required"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-control input-group">
                            <div class="flex">
                                <div class="flex flex-col w-52">
                                    <label class="label">
                                        <span class="label-text">Gender:</span>
                                    </label>
                                    <span th:text="${candidate.gender}" class="textarea h-20 textarea-bordered"
                                          rules="required"></span>

                                </div>

                                <div class="flex flex-col ml-7 w-10/12">
                                    <label class="label">
                                        <span class="label-text">Skills:</span>
                                    </label>

                                    <span th:text="${list}" class="textarea h-20 textarea-bordered"
                                          rules="required"></span>
                                <div class="flex flex-col">
                                    <label class="label">
                                        <span class="label-text">Status:</span>
                                    </label>
                                    <span th:text="${candidate.status}" class="textarea h-20 textarea-bordered"
                                          rules="required"></span>
                                </div>
                            </div>
                            
                        </div>
                        </div>
                        <!--Footer-->

                    </form>

            
                    <!-- END FORM -->

                </div>
                <!-- END TABLE -->

            </main>
            <!-- END MAIN -->
        </div>

        <!-- Slide bar-->
        <div th:replace="fragments/_SideBar::side-bar"></div>
    </div>

    <div th:replace="fragments/_Footer"></div>

    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/js/dropdown.js}"></script>

</body>

</html>
