<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz form</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.20.1/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/28a05ca2b4.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>

    <!-- Form Navbar -->
    <script>
        $(document).ready(function () {
            $('#toggle').click(function () {
                $('#menu').slideToggle();
            })

            $('#clickdrop').click(function () {
                $('#dropdown').slideToggle();
            })
        })

        changeIcon = (icon) => icon.classList.toggle('fa-times');

    </script>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <header class="sticky top-0 w-screen flex flex-row items-center p-1 justify-between shadow-xs fixed z-50 bg-black"
        style="background-image: linear-gradient(10deg, rgb(46, 193, 219) 50%, transparent 50%), linear-gradient(-60deg, brown 30%, transparent 30%);">
        <div class="ml-8 text-lg text-gray-100 hidden lg:flex text-gray-50">BRAND</div>
    
        <!-- Dropdown -->
        <div class="dropdown ml-8 text-lg text-gray-700 hidden lg:flex cursor-pointer">
            <div tabindex="0" class="text-white">Categories</div>
            <ul tabindex="0" style="margin-top: 40px;"
                class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
                <li>
                    <a>Item 1</a>
                </li>
                <li>
                    <a>Item 2</a>
                </li>
                <li>
                    <a>Item 3</a>
                </li>
            </ul>
        </div>
    
    
        <span
            class="w-screen lg:w-1/3 h-10 bg-gray-200 ml-5 cursor-pointer border border-gray-300 text-sm rounded-full flex">
            <input type="search" name="serch" placeholder="Search"
                class="flex-grow px-4 rounded-l-full rounded-r-full text-sm focus:outline-none rounded-full"
                style="border: 0px;">
            <i class="fas fa-search m-3 mr-5 text-lg text-gray-700 w-4 h-4">
            </i>
        </span>
        <div id="toggle" class="cursor-pointer flex flex-row-reverse mr-4 ml-4 lg:hidden">
            <i onclick="changeIcon(this)" class="fas fa-bars text-white"></i>
        </div>
    
    
        <div class="ml-8 text-md hidden lg:flex text-white">Become an instructor</div>
        <div class="flex flex-row-reverse mr-8 hidden lg:flex">
            <div class="text-gray-700 text-center bg-white px-2 py-2 m-2 rounded-md  cursor-pointer"><i
                    style="font-size:25px;" class="fas fa-globe"></i></div>
            <div class="text-gray-700 text-center bg-white px-4 py-2 m-2 rounded-md  cursor-pointer">Sign in</div>
            <div class="text-gray-700 text-center bg-white px-4 py-2 m-2 rounded-md  cursor-pointer">Login</div>
        </div>
    </header>
    
    <div class="lg:hidden">
        <nav id="menu" class="flex flex-col items-center justify-center w-full lg:hidden hidden top-12 fixed z-50"
            style="background-image: linear-gradient(360deg, rgb(0, 0, 0) 1%, transparent 100%); background-color: rgb(0, 0, 0); opacity: 0.8;">
            <ul>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                    <a href="">Brand</a>
                </li>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold">
                    <div class="dropdown dropdown-end w-full px-2">
                        <div tabindex="0" id="clickdrop" class="w-full text-white hover:text-blue-600">Categories</div>
                        <ul id="dropdown" tabindex="0"
                            class="p-2 mt-5 hidden w-full flex justify-center items-center text-white shadow menu dropdown-end rounded-box">
                            <li class="w-full flex justify-center hover:text-blue-600">
                                <a class="w-full flex justify-center items-center">Item 1</a>
                            </li>
                            <li class="w-full flex justify-center hover:text-blue-600">
                                <a class="w-full flex justify-center items-center">Item 1</a>
                            </li>
                            <li class="w-full flex justify-center hover:text-blue-600">
                                <a class="w-full flex justify-center items-center">Item 1</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                    <a href="">Become an instructor</a>
                </li>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                    <a href="">Login</a>
                </li>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                    <a href="">Sign in</a>
                </li>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                    <a href=""><i style="font-size:25px;" class="fas fa-globe"></i></a>
                </li>
    
            </ul>
        </nav>
    </div>

    <div class="lg:hidden">
        <nav id="menu" class="flex flex-col items-center justify-center w-full lg:hidden hidden top-12 fixed z-50"
            style="background-image: linear-gradient(360deg, rgb(0, 0, 0) 1%, transparent 100%); background-color: rgb(0, 0, 0); opacity: 0.8;">
            <ul>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                    <div class="avatar">
                        <div class="w-16 h-10 rounded">
                            <a th:href="@{/}">
                                <img src="https://cdn3.vectorstock.com/i/thumb-large/59/77/quiz-logo-icon-symbol-flat-cartoon-color-vector-27965977.jpg"
                                    alt="Tailwind-CSS-Avatar-component">
                            </a>
                        </div>
                    </div>
                </li>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold">
                    <div class="dropdown dropdown-end w-full px-2">
                        <div tabindex="0" id="clickdrop" class="w-full text-white hover:text-blue-600">Categories</div>
                        <ul id="dropdown" tabindex="0"
                            class="p-2 mt-5 hidden w-full flex justify-center items-center text-white shadow menu dropdown-end rounded-box">
                            <li th:each="category : ${session.categoriesSession}"
                                class="w-full flex justify-center hover:text-blue-600">
                                <a th:href="@{/quiz(category=${category.name})}" th:text="${category.name}"
                                    class="w-full flex justify-center items-center">Item 1</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                    <a href="">Become an instructor</a>
                </li>
                <th:block th:if="${session.account == null}">
                    <li
                        class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                        <a th:href="@{/auth/login}">Login</a>
                    </li>
                    <li
                        class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                        <a href="">Sign in</a>
                    </li>
                </th:block>
    
                <th:block th:if="${session.account != null}">
                    <li
                        class=" z-50 flex flex-col items-center justify-center text-gray-700 text-center py-3 rounded-md text-lg cursor-pointer font-bold">
                        <div class="dropdown dropdown-end w-full">
                            <div tabindex="0" id="user" class="w-full text-white hover:text-blue-600">
                                <img th:if="${session.account.user.image != null and !session.account.user.image.equals('')}"
                                    th:src="${session.account.user.image}" class="w-7 mr-4 h-7 rounded"
                                    alt="Tailwind-CSS-Avatar-component">
                                <img th:if="${session.account.user.image == null or session.account.user.image.equals('')}"
                                    src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-27.jpg"
                                    class="w-7 mr-4 h-7 rounded" alt="Tailwind-CSS-Avatar-component">
                                [[${session.account.user.fullName}]]
                            </div>
                            <ul id="profile" tabindex="0"
                                class="p-2 mt-5 hidden w-full text-white flex justify-center items-center shadow menu dropdown-end rounded-box">
                                <li class="w-full flex justify-center" th:if="${session.account.user.roleName != null}">
                                    <a th:href="@{/admin}"
                                        class="w-full flex justify-center items-center hover:text-blue-600">[[${session.account.user.roleName}]]</a>
                                </li>
                                <li class="w-full flex justify-center ">
                                    <a th:href="@{/auth/profile}"
                                        class="w-full flex justify-center items-center hover:text-blue-600">Profile</a>
                                </li>
                                <li class="w-full flex justify-center">
                                    <a th:href="@{/auth/logout}"
                                        class="w-full flex justify-center items-center hover:text-blue-600">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </th:block>
                <li
                    class=" z-50 flex flex-col items-center justify-center text-white text-center py-3 rounded-md text-lg cursor-pointer font-bold hover:text-blue-600">
                    <a href=""><i style="font-size:25px;" class="fas fa-globe"></i></a>
                </li>
    
            </ul>
        </nav>
    </div>

    <div class=" shadow bg-base-200 drawer drawer-mobile " style="height: 91vh;">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle">

        <div class="flex flex-col items-center drawer-content">
            <label for="my-drawer-2"
                class="mb-4 btn btn-primary drawer-button lg:hidden w-10 rounded-full right-5 top-16 md:top-28 fixed"><i
                    class="fas fa-angle-right"></i></label>
            <!-- START MAIN -->
            <main class="my-4 w-11/12 mt-10 mx-auto">
                <!-- START Welcome text-->
                <p th:if="${quizInfo != null}" class="text-2xl font-semibold text-center mb-4 uppercase ">Edit Candidate ID</p>
                <!-- END welcome text -->
                <!-- START TABLE -->
                <div class="card text-center shadow-lg my-4 py-5 px-16">
                    <!-- START FORM -->
                    <form id="quiz-form" th:action="@{/hr/update-skill}" th:object="${skill}" method="post">

                        <input type="hidden" th:field="*{skillId}">
                        <div class="flex justify-start">
                            <div class="w-full ml-4">
                                <div class="form-control input-group">
                                    <div class="flex">
                                        <div class="w-1/2 flex flex-col">
                                            <label class="label">
                                                <span class="label-text">Skill Name:</span>
                                            </label>
                                            <input type="text" th:field="*{skillName}" class="input input-bordered"
                                                rules="required|minlength:10|maxlength:255"/>
                                        </div>

                                        <div class="w-1/2 flex flex-col">
                                            <label class="label">
                                                <span class="label-text">Description:</span>
                                            </label>
                                            <input type="text" th:field="*{description}" class="input input-bordered"
                                                   rules="required|minlength:10|maxlength:255"/>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                        <!--Footer-->
                        <div class="flex justify-center pt-2 mt-10 mb-5">
                            <button type="submit"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-3">
                                Edit Major
                            </button>
                            <a th:href="${session.Referer}"
                                class="bg-transparent hover:bg-gray-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                Back to list
                            </a>
                        </div>
                    </form>

            
                    <!-- END FORM -->

                </div>
                <!-- END TABLE -->

            </main>
            <!-- END MAIN -->
        </div>

        <!-- Slide bar-->
        <div class="drawer-side">
            <label for="my-drawer-2" class="drawer-overlay"></label>
            <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
                <li class="bordered">
                    <a>Dashboard</a>
                </li>
                <li class="hover-bordered">
                    <a>Candidate management</a>
                </li>
                <li class="hover-bordered">
                    <a>Job management</a>
                </li>
                <li class="hover-bordered">
                    <a>Vacancies management</a>
                </li>
                <li class="hover-bordered">
                    <a>Skill management</a>
                </li>
                <li class="hover-bordered">
                    <a>Recruitment management</a>
                </li>
                <li class="hover-bordered">
                    <a>Statistics</a>
                </li>
            </ul>
        </div>
    </div>

    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/js/dropdown.js}"></script>

</body>

</html>
