<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.24.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>

<body>
     <!-- Form Navbar -->
     <div th:replace="fragments/_Header :: header"></div>

    <div class=" shadow bg-base-200 drawer drawer-mobile " style="height: 91vh;">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle">

        <div class="flex flex-col items-center drawer-content">
            <label for="my-drawer-2" class="mb-4 btn btn-primary drawer-button lg:hidden w-10 rounded-full right-5 top-16 md:top-28 fixed"><i class="fas fa-angle-right"></i></label>
            <!-- STRART MAIN -->
            <main class="my-4 w-11/12 mx-auto">
                <!-- START Welcome text-->
                <p>User management: Welcome to user management</p>
                <!-- END welcome text -->
                <div class="flex justify-between">
                <button onclick="openModal1('main-modal')" class="btn btn-sm w-42 h-10 btn-primary">ADD MAJOR</button>

                    <div class="flex justify-between" th:object="${filter}">

                    </div>
                    
                </div>
                <!-- START TABLE -->
                <div class="card text-center shadow-lg my-4">
                    <div class="card-body p-0">
                        <div class="overflow-x-auto ">
                            <div class="overflow-x-auto">
                                <table class="table w-full">
                                    <thead>
                                        <tr>
                                            <th>Major ID</th>
                                            <th>Major name</th>
                                            <th>Activity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="major : ${listMajor.getContent()}">
                                            <td th:text="${major.majorId}">1</td>

                                            <td th:text="${major.majorName}" >12356688</td>

                                            <td>
                                                <div class="flex justify-start items-center">
                                                    <a th:href="@{'/hr/update-major?id=' + ${major.majorId}}"><i class="fas fa-edit mr-3 cursor-pointer"></i></a>

                                                    <i class="fas fa-trash-alt cursor-pointer" th:attr="onclick=|openModal1('delete-modal', '${major.majorId}')|"></i>
                                                </div>
                                                
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>

                                <div class="flex justify-center">
                                    <div th:if="${listMajor.getNumberOfElements() > 0}" th:with="currentPage=${listMajor.getNumber()+1}, totalPages=${listMajor.getTotalPages()}"
                                         class="btn-group my-4 mr-4">

                                        <button class="btn btn-sm btn-outline " th:if="${currentPage > 1}" th:onclick="|paramFilters('page','${currentPage - 1}')|">Prev</button>
                                        <span class="btn btn-sm btn-outline disabled" th:unless="${currentPage > 1}">Prev</span>

                                        <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                                            <button class="btn btn-sm btn-outline " th:if="${currentPage != i}" th:onclick="|paramFilters('page','${i}')|">[[${i}]]</button>
                                            <span class="btn btn-sm btn-outline bg-blue-500 text-white border-black" th:if="${listMajor.getNumberOfElements() > 0}" th:unless="${currentPage != i}">[[${i}]]</span>
                                        </th:block>

                                        <button class="btn btn-sm btn-outline " th:if="${currentPage < totalPages}" th:onclick="|paramFilters('page','${currentPage + 1}')|">Next</button>
                                        <span class="btn btn-sm btn-outline disabled"  th:unless="${currentPage < totalPages}">Next</span>

                                    </div>
                                    <div th:if="${listMajor.getNumberOfElements() <= 0}">
                                        <a class="btn btn-sm btn-outline mb-4" th:href="@{'/admin/quiz'}">Back to list</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- END TABLE -->

            </main>
            <!-- END MAIN -->
        </div>

        <div th:replace="fragments/_SliderBar :: slider-bar"></div>
    </div>

    <!-- Delete Major -->
    <dialog id="delete-modal" class="bg-transparent z-0 relative w-screen h-screen fadeIn">
        <div
            class="p-7 pt-52 flex justify-center items-start overflow-x-hidden overflow-y-auto fixed left-0 top-0 w-full h-full bg-gray-900 bg-opacity-50 z-50 transition-opacity duration-300 opacity-0">
            <div class="bg-white flex rounded-lg lg:w-4/12 md:w-1/2 w-full relative">
                <div class="flex flex-col items-start w-full">
                    <div class="p-7 flex items-center w-full">
                        <div class="text-gray-900 font-bold text-lg">Do you want to delete ?</div>
                        <svg onclick="modalClose('delete-modal')"
                            class="ml-auto fill-current text-gray-700 w-5 h-5 cursor-pointer"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                            <path
                                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" />
                        </svg>
                    </div>
    
                    <div class="px-7 w-full">
                        <!-- START FORM -->
    
    
                        <!--Footer-->
                        <div class="flex justify-center pt-2 mt-3 mb-5">
                            <button type="submit" onclick="deleteMajor()"
                                class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-3">
                                Yes
                            </button>
                            <button type="button" onclick="modalClose('delete-modal')"
                                class="bg-transparent hover:bg-gray-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                No
                            </button>
    
                        </div>
                        <!-- END FORM -->
    
                    </div>
    
    
                </div>
            </div>
        </div>
    </dialog>

    <!-- Add Major -->
    <dialog id="main-modal" class="bg-transparent z-0 relative w-screen h-screen fadeIn">
        <div
            class="p-7 flex justify-center items-start overflow-x-hidden overflow-y-auto fixed left-0 top-0 w-full h-full bg-gray-900 bg-opacity-50 z-50 transition-opacity duration-300 opacity-0">
            <div class="bg-white flex rounded-lg md:w-1/2 w-full relative mb-20">
                <div class="flex flex-col items-start w-full">
                    <div class="p-7 flex items-center w-full">
                        <div class="text-gray-900 font-bold text-lg">Add Major</div>
                        <svg onclick="modalClose('main-modal')"
                            class="ml-auto fill-current text-gray-700 w-5 h-5 cursor-pointer"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
                            <path
                                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z" />
                        </svg>
                    </div>
    
                    <div class="px-7 w-full">
                        <!-- START FORM -->
                        <form id="question-form" method="post" th:object="${major}" th:action="@{/hr/create-major}" >

                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text font-bold">Full Name:</span>
                                </label>
                                <input type="text" th:field="*{majorName}" class="input input-bordered">
                            </div>

                            <!--Footer-->
                            <div class="flex justify-end pt-2 mt-3 mb-5">
                                <button type="submit"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-3">
                                    Add
                                </button>
                                <button type="button" onclick="modalClose('main-modal')"
                                    class="bg-transparent hover:bg-gray-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                                    Close
                                </button>
                            </div>

                        </form>
                        <!-- END FORM -->
    
                    </div>
    
    
                </div>
            </div>
        </div>
    </dialog>

    <!-- Delete -->

    <script th:src="@{/static/js/common.js}"></script>
    <script th:src="@{/static/js/dropdown.js}"></script>

    <script>
        let majorId;

        function deleteMajor() {
            let uri = new URL(document.baseURI);
            uri.pathname = '/hr/delete-major';
            uri.searchParams.set('id', majorId);
            window.location.href = uri.href;
        }
    </script>
</body>

</html>
