<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Skill</title>
</head>
<body>
    <div>
        <h1 >SKILL DETAIL</h1>
        <table>
            <thead>
                <tr>
                    <th>Skill Id</th>
                    <th>Skill Name</th>
                    <th>Skill Description</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td th:text="${skill.skillId}"></td>
                    <td th:text="${skill.skillName}"></td>
                    <td th:text="${skill.description}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>